<div class="container pt-3">
    <main>
        <h1>MySQLCGI</h1>

        <label>使用中のデータベース: <strong>{database}</strong></label>

        <label>SQL文</label>

        <form method="POST" action="/cgi-bin/main.py">
            <input type="hidden" name="database" value="{database}">
            <textarea
                class="form-control me-2"
                name="sql"
                rows="4"
                placeholder="SHOW DATABASES;"
                aria-label="query"
            >{sql}</textarea>
            <button type="submit" class="btn btn-primary mt-2">実行</button>
        </form>

        {sql}<br>
        {result}
    </main>
</div>