<header data-bs-theme="dark">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="https://bx293apen.github.io/">
                <img src = "/img/pen.svg" height= "40px" width="40px">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link" id="top" aria-current="page" href="#">
                            Top
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="home" aria-current="page" href="/cgi-bin/main.py">
                            Home
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="userselect" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            USERS
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="userselect">
                            {user_options}
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="database" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            DATABASE
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="database">
                            {database_options}
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="table" aria-current="page" href="?user={user}&password={password}&database={database}&sql=SHOW TABLES;">
                            TABLE
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/BX293APEN">
                            <img src = "https://bx293apen.github.io/img/Github-Dark.svg" height= "40px" width="40px">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://discord.gg/hszD9jqpq2">
                            <img src = "https://bx293apen.github.io/img/Discord.svg" height= "40px" width="40px">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://x.com/BX293A_PEN">
                            <img src = "https://bx293apen.github.io/img/X.svg" height= "40px" width="40px">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://bsky.app/profile/bx293apen.bsky.social">
                            <img src = "https://bx293apen.github.io/img/BlueSky.webp" height= "40px" width="40px">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://ch.dlsite.com/pommu/profile/3945756">
                            <img src = "https://bx293apen.github.io/img/pommu.svg" height= "40px" width="40px">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>