<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/template/css/bootstrap.min.css" rel="stylesheet">
<link href="/template/css/index.css" rel="stylesheet">
<link href="/template/css/welcome.css" rel="stylesheet">
<link href="/template/css/carousel.css" rel="stylesheet">
<link href="/template/css/blog.css" rel="stylesheet">
<link rel="icon" href="/img/PEN.ico">
<link href="/template/css/loading.css" rel="stylesheet">
<div class="loading-container" id="loadingScreen">
    <div class="loading"></div>
</div>
<script src="/view/js/loading.js"></script>